aykome.eyyubiye.bel.tr {
    root * /app/public
    encode gzip
    file_server
    php_fastcgi php-fpm:9000
    # Laravel SPA fallback
    @not-static {
        not file {
            try_files {path} /index.html /index.php
        }
    }
    rewrite @not-static /index.php
}

# For local development via localhost
:80 {
    root * /app/public
    encode gzip
    file_server
    php_fastcgi php-fpm:9000
    @not-static {
        not file {
            try_files {path} /index.html /index.php
        }
    }
    rewrite @not-static /index.php
}
